#button{
    position: fixed;
    bottom: 10vh;
    left: 50%;
    transform: translate(-50%);
   
   
}

#locationButton{
    width: 100px;
    height: 100px;
    
    border-radius: 50%;
    background-color: springgreen;
}
#locationButton:focus{
    outline: none;
}