#map {
    height: 100vh;
    width: calc(100vw);
}

#wrapper{
    position: relative;
}

#absolute{
    position: absolute;
    top: 0;
    width: 100%;
    background: white;
    opacity: 0.5;
    margin: 0 !important;
}