.place-popup {
    position: fixed;
    top: 15px;
    right: 15px;
    background-color: white;
    max-width: 800px;
    z-index: 2;
    padding: 20px;
     box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
     a{
         color: $active;
     }
}
.flexwrap{
    display: flex;
   
}
.firstFlex{
    text-align: center;
    vertical-align: middle;
}
.secondFlex{
    padding: 10px;
    bottom: 0;
}